body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('./assets/fonts/gmarketSansTTFMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('./assets/fonts/gmarketSansTTFBold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansBold';
  src: url('./assets/fonts/gmarketSansTTFLight.ttf');
  font-weight: light;
  font-style: normal;
}