:root {
    --primary-050: #fffcf5;
    --primary-100: #fff7e2;
    --primary-200: #fff2cf;
    --primary-300: #ffedbc;
    --primary-400: #ffeab2;
    --primary-500: #ffe294;
    --primary-600: #f4d075;
    --primary-700: #d6b155;
    --primary-800: #99895f;
    --primary-900: #4d4530;
    --green-050: #F4FFFC;
    --green-100: #EAFFF7;
    --green-200: #D0FFED;
    --green-300: #A2F5D5;
    --green-400: #84EAC3;
    --green-500: #53E3AC;
    --green-600: #4DCA9A;
    --green-700: #32B986;
    --green-800: #24966B;
    --green-900: #136B4A;
    --mint-200: #eff7f7;
    --mint-300: #e3f5f5;
    --mint-400: #d0efef;
    --mint-500: #a0dfdf;
    --mint-600: #80b2b2;
    --mintgreen-300: #f1f6f3;
    --mintgreen-400: #e2ece8;
    --mintgreen-500: #cfe0d8;
    --mintgreen-600: #a6b3ad;
    --red-050: #f6eaea;
    --red-075: #f4d5da;
    --red-100: #f5bec6;
    --red-150: #f3b4be;
    --red-200: #ef92a0;
    --red-300: #e9667a;
    --red-400: #FD3049;
    --red-500: #df2541;
    --red-600: #b21e34;
    --red-700: #861627;
    --blue-050: #E6F2FF;
    --blue-100: #BBDCFF;
    --blue-200: #8FC7FF;
    --blue-300: #60B0FF;
    --blue-400: #3E9FFF;
    --blue-500: #1290FE;
    --blue-600: #1B6FDB;
    --blue-700: #1B5EC9;
    --fridge-100: #f3f9ff; 
    --fridge-200: #dcecfc; 
    --fridge-300: #bdd5ef; 
    --fridge-400: #aac0d7; 
    --fridge-500: #a0b5de;
    --fridge-600: #90a3c8;
    --fridge-700: #8091b2;
    --fridge-800: #4f5d79;
    --fridge-900: #323d54;
    --gray-050: #fcfbfb;
    --gray-100: #f4f4f4;
    --gray-200: #dfdfdf;
    --gray-300: #cacaca;
    --gray-400: #b4b4b4;
    --gray-500: #949494;
    --gray-600: #767676;
    --gray-700: #686868;
    --gray-800: #4a4a4a;
    --gray-900: #2c2c2c;
    --white: #FFFFFF;
    --black: #121212;
    --shadow-low: 0 2px 8px 0 rgba(0,0,0,0.1);
    --shadow-medium: 0 4px 16px 0 rgba(0,0,0,0.12);
    --shadow-high: 0 8px 36px 0 rgba(0,0,0,0.15);
    --text-shadow: 0 0 1px #777;
    -webkit-tap-highlight-color: transparent;
}
